<mat-toolbar color="primary">
  <img src="favicon.ico" alt=""><span>My Application</span>
  <button mat-button class="ml-2" routerLink="/">
    Search
  </button>
  <button mat-button class="ml-2" routerLink="/dashboard">
    Dashboard
  </button>
</mat-toolbar>
