<button mat-raised-button color="accent" type="submit"
        class="justify-content-center" (click)="checkNewResults()">Check New Results
</button>

<mat-accordion *ngFor="let task of taskResults; trackBy: trackByFn">
  <mat-expansion-panel (opened)="task.isOpenPanel = true"
                       (closed)="task.isOpenPanel = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{task.keyword}}
      </mat-panel-title>
      <mat-panel-description>
        Status - {{task.status | titlecase}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p *ngFor="let res of task?.search_result; trackBy: trackByFn">
      <span><strong class="ml-2">Title </strong></span><a href="{{res.url}}">{{res.title}}</a>
      <span class="ml-2"><strong>Description: </strong>{{res.description}}</span></p>
  </mat-expansion-panel>
</mat-accordion>

<ngx-spinner></ngx-spinner>
