<form class="example-form d-flex justify-content-center mt-4" [formGroup]="searchForm">
  <mat-form-field class="mt-1 ml-1" appearance="fill">
    <mat-label>Search Engine</mat-label>
    <mat-select formControlName="engine">
      <mat-option *ngFor="let engine of searchData?.engines; trackBy: trackByFn" [value]="engine">
        {{engine.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width p-3 w-25">
    <mat-label>Request</mat-label>
    <input class="" matInput placeholder="Ex. Pizza" formControlName="request">
  </mat-form-field>

  <mat-form-field class="mt-1" appearance="fill">
    <mat-label>Country for search</mat-label>
    <mat-select formControlName="location">
      <mat-option *ngFor="let location of searchData?.locations; trackBy: trackByFn" [value]="location">
        {{location.location_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="ml-2 mt-3">
    <button mat-raised-button color="primary" type="submit" (click)="search()">Search</button>
  </div>
</form>

<ngx-spinner></ngx-spinner>
